node_modules
.pnp.cjs
.pnpm-store
.env
.env.*
dist
coverage
.prisma
.next
.DS_Store
.idea
.vscode
**/.turbo
**/.next
**/build
**/dist
**/.env.local
**/.env*
**/node_modules
**/.vercel
**/.cache
**/.nx
**/coverage
**/*.log
**/*.db
**/dev.db*
